# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
medivision/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Data / large files
*.h5
*.pt
*.pth
*.ckpt

# Logs
experiments/logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.html

#Dataset
OmniMedVQA/
exploration_outputs/